<h4 class="useful-links-header">Useful links:</h4>
<ul class="useful-links">
  <li><a target="_blank"
      href="https://www.tutorialsteacher.com/csharp/csharp-value-type-and-reference-type">TutorialsTeacher Val&Ref
      Types</a></li>
  <li><a target="_blank"
      href="https://learn.microsoft.com/en-us/dotnet/csharp/language-reference/builtin-types/value-types">Microsoft
      Val&Ref Types</a></li>
</ul>
<h4 class="backend-start">Stuff we get from BE: </h4>
<p>{{valueAndReferenceType.refName}}</p>
<p>{{valueAndReferenceType.value}}</p>
<p>{{valueAndReferenceType.refArray}}</p>
