.lesson {
  margin: 0;
  width: fit-content;
  cursor: pointer;
}

.lesson:hover {
  border-radius: 5px;
  background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(38,159,238,0.75) 35%, rgba(0,0,0,0) 100%);
}

// .lesson:hover:after {
//   content: " <";
// }

// .lesson:hover:before {
//   content: ">";
// }

.chapter span {
  width: fit-content;
  cursor: not-allowed;
}

.home-title {
  text-align: center;
}

.item-list>.chapter {
  font-size: 125%;
  font-weight: 700;

  .item-sublist {
    font-weight: 400;
    font-size: 80%;
  }
}

.lists-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.lists-container .item-list {
  flex-grow: 1;
  border: 3px solid;
  border-radius: 5px;
  padding: 20px 75px 30px 75px;
  margin: 5px;

  .chapter-title {
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
    font-size: 150%;
    font-weight: 800;
    border: 2px solid;
    border-radius: 5px;
    padding: 0 8px 0 8px;
  }

  .item-sublist li {
    inline-size: 500px;
    overflow-wrap: break-word;
  }
}

@media (max-width: 1405px) {
  .lists-container {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .lists-container .item-list .item-sublist li {
    inline-size: 250px;
    overflow-wrap: break-word;
  }
}
