################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Growth/ClientApp/.angular/cache/14.0.3
/.vs/Growth/v17
/.vs/Growth/FileContentIndex
/.vs/Growth/DesignTimeBuild/.dtbcache.v2
/.vs/Growth/v17/.suo
/.vs/Growth/v17/.futdcache.v2
/.vs/ProjectEvaluation/growth.projects.v5.2
/.vs/ProjectEvaluation/growth.metadata.v5.2
/Growth/ClientApp/.angular/cache/14.2.10/angular-webpack/9318862b02ca60e6830b9e8671b89226549ede21/index.pack
/.vs/Growth/DesignTimeBuild/.dtbcache.v2
/.vs/Growth/v17/.suo
/Growth/ClientApp/.angular/cache/14.2.10
/Growth/ClientApp/.angular/cache/14.0.3/angular-webpack/6b08cb29d7e9f7435a5a6c12fa526e34512eff29/0.pack
/Growth/ClientApp/.angular/cache/14.0.3/angular-webpack/6b08cb29d7e9f7435a5a6c12fa526e34512eff29/0.pack
/.vs/Growth/v17/.suo
/.vs/ProjectEvaluation
