<h1>Dependency Injection:</h1>
<h5>Take a look at the component's TS and C# files for the lesson and code analysis.</h5><br>
<P>You will find:</P>
<ol>
  <li>Inversion of Control</li>
  <li>IoC Container</li>
  <li>Dependency Injection with C#</li>
  <li>Dependecy Injection with Angular</li>
</ol><br>
<h4 class="useful-links-header">Useful links:</h4>
<ul class="useful-links">
  <li><a target="_blank" href="https://angular.io/guide/dependency-injection">Dependency Injection in Angular</a></li>
  <li><a target="_blank" href="https://www.dotnettricks.com/learn/dependencyinjection/implementation-of-dependency-injection-pattern-in-csharp#:~:text=Dependency%20Injection%20(DI)%20is%20a,is%20to%20make%20code%20maintainable.">Dependency Injection with C#</a></li>
  <li><a target="_blank" href="https://stackoverflow.com/questions/41593508/dependency-injection-container-how-to-keep-available-to">Dependency Injection C# Example</a></li>
  <li><a target="_blank" href="https://dev.to/shutoosawa/learning-dependency-injection-ioc-container-in-c-kn9">IoC Container</a></li>
</ul>
