// Dark Mode
html.dark-mode {
  --text-colour: #dfe6e9;
  --background-colour: #2d3436;

  --scrollbar-track: #fff;
  --scrollbar-thumb: #1F2125;

  --tooltip-background: #232323e6;
  --tooltip-border: #969696;
  --tooltip-shadow: #575757;
  --tooltip-text-colour: #dfe6e9;

  --navbar-shadow: #d3d3d3;

  --panel-background: #111111f1;

  --border-fade: #7a7a7a86;
  --primary-color: #269FEE;
  --secondary-color: #EA6228;
}

// Light Mode
html.light-mode {
  --text-colour: #1F2125;
  --background-colour: #f6f7f9;

  --navbar-shadow: #474747f1;

  --scrollbar-track: #292929;
  --scrollbar-thumb: #cacaca;

  --tooltip-background: #c2c2c2e6;
  --tooltip-border: #656565;
  --tooltip-shadow: #b7b7b7;
  --tooltip-text-colour: #1F2125;

  --panel-background: #f0f0f0;

  --border-fade: #7a7a7a86;
  --primary-color: #1e9400;
  --secondary-color: #c71f1f;
}

// General
$white: #fff;
$black: #000;
