// Dark Mode
$darkmode-background-colour: #2d3436;
$darkmode-text-colour: #dfe6e9;

$darkmode-scrollbar-track: #fff;
$darkmode-scrollbar-thumb: #1F2125;

$darkmode-tooltip-background: #232323e6;
$darkmode-tooltip-border: #969696;
$darkmode-tooltip-shadow: #575757;

$darkmode-panel-background: #111111f1;


//Light Mode
$lightmode-background-colour: #f6f7f9;
$lightmode-text-colour: #1F2125;

$lightmode-scrollbar-track: #292929;
$lightmode-scrollbar-thumb: #cacaca;

$lightmode-tooltip-background: #ebebebe6;
$lightmode-tooltip-border: #656565;
$lightmode-tooltip-shadow: #b7b7b7;

$lightmode-panel-background: #111111f1;

//General
$white: #fff;
$black: #000;
$primary-color: #269FEE;
$secondary-color: #EA6228;

