@import "../../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "colours.scss";

body {
  height: 100vh;
}

html:not(.dark-mode-preloading),
body:not(.dark-mode-preloading),
.container:not(.dark-mode-preloading),
.navbar:not(.dark-mode-preloading),
nav:not(.dark-mode-preloading),
.navbar-brand:not(.dark-mode-preloading),
a:not(.dark-mode-preloading) {
  transition: all 1s linear;
}

h1 {
  text-align: center;
  text-decoration: underline;
  color: var(--background-colour);
  text-shadow: -1px -1px 0 var(--text-colour), 1px -1px 0 var(--text-colour), -1px 1px 0 var(--text-colour), 1px 1px 0 var(--text-colour);
}

html {
  background-color: var(--background-colour) !important;

  header {
    margin-bottom: 90px;
  }

  ::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 3px;
  }

  body,
  .container,
  .mat-menu-panel,
  .bg-white,
  .useful-links li a,
  .home-title a,
  .navbar-brand,
  .navbar-brand:active,
  .navbar-brand:focus {
    background-color: var(--background-colour) !important;
    color: var(--text-colour);
  }

  .useful-links li a:hover,
  .home-title a:hover {
    transition: 0.2s;
    color: var(--primary-color);
  }

  .mat-menu-panel {
    background-color: var(--panel-background) !important;
  }

  .mat-tooltip {
    background-color: var(--tooltip-background);
    border: 2px solid var(--tooltip-border);
    box-shadow: var(--tooltip-shadow) 0px 3px 4px;
    color: var(--tooltip-text-colour);
    font-weight: 600;
    font-size: 12px;
  }
}

.container {
  max-width: 2100px;
}

.btn-primary,
.btn-secondary,
.navbar-toggler {
  color: $black;
  border: 1px solid $black;
  background-color: lightgray;
  box-shadow: gray 2px 2px 2px;
  font-weight: 600;
}

.btn-secondary {
  height: 32px;
}

.btn-primary:hover {
  transition: 0.1s !important;
  background-color: var(--primary-color);
  color: $black;
}

.btn-primary:focus {
  background-color: var(--primary-color);
  color: $black;
}

.btn-secondary:hover {
  transition: 0.1s !important;
  background-color: var(--secondary-color);
  color: $black;
}

.btn-secondary:focus {
  background-color: var(--secondary-color);
  color: $black;
}

.mat-menu-panel {
  margin-top: 5px;
  box-shadow: 2px 4px 8px rgb(125 125 125);
  border: 1px solid var(--secondary-color);
  padding: 5px;
}

.mat-menu-content {
  padding: 0 !important;
}

.backend-start {
  margin: 25px 0 10px 0;
  text-decoration: underline;
}

.useful-links-header {
  text-decoration: underline;
}

.useful-links,
.home-title {
  font-weight: 600;
  padding-bottom: 20px;
  border-bottom: 2px solid;
  border-radius: 10px;

  a {
    text-decoration: none;
  }
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-ripple.mat-checkbox-ripple .mat-ripple-element {
  background-color: var(--primary-color) !important;
}

.reactive-forms-container {
  border: 1px solid;
  border-radius: 20px;
  padding: 20px;
}

//scrollbar styling
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}
