@import "../../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "colours.scss";

h1 {
  text-align: center;
  text-decoration: underline;
}

body:not(.dark-mode-preloading),
.navbar:not(.dark-mode-preloading) {
  transition: all 1s ease-in-out;
}

html.dark-mode {
  h1 {
    color: $darkmode-background-colour;
    text-shadow: -1px -1px 0 $white, 1px -1px 0 $white, -1px 1px 0 $white, 1px 1px 0 $white;
  }

  background-color: $darkmode-background-colour !important;
  color: $darkmode-text-colour;

  ::-webkit-scrollbar-track {
    background: $darkmode-scrollbar-track;
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb {
    background: $darkmode-scrollbar-thumb;
    border-radius: 3px;
  }

  body,
  .container,
  .mat-menu-panel,
  .bg-white,
  .useful-links li a,
  .home-title a,
  .navbar-brand,
  .navbar-brand:active,
  .navbar-brand:focus {
    background-color: $darkmode-background-colour !important;
    color: $darkmode-text-colour;
    transition: color 0.2s;
  }

  .useful-links li a:hover,
  .home-title a:hover {
    transition: 0.2s;
    color: $primary-color;
  }

  .mat-menu-panel {
    background-color: $darkmode-panel-background !important;
  }

  .mat-tooltip {
    background-color: $darkmode-tooltip-background;
    border: 2px solid $darkmode-tooltip-border;
    box-shadow: $darkmode-tooltip-shadow 0px 3px 4px;
    color: $white;
    font-weight: 600;
    font-size: 12px;
  }
}


html.light-mode {
  h1 {
    color: $white;
    text-shadow: -1px -1px 0 $black, 1px -1px 0 $black, -1px 1px 0 $black, 1px 1px 0 $black;
  }

  background-color: $lightmode-background-colour !important;
  color: $lightmode-text-colour;

  ::-webkit-scrollbar-track {
    background: $lightmode-scrollbar-track;
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb {
    background: $lightmode-scrollbar-thumb;
    border-radius: 3px;
  }

  .container.light-mode,
  .useful-links li a,
  .home-title a {
    color: $lightmode-text-colour;
    transition: color 0.2s;
  }

  .useful-links li a:hover,
  .home-title a:hover {
    transition: 0.2s;
    color: $primary-color;
  }

  .mat-tooltip {
    background-color: $lightmode-tooltip-background;
    border: 2px solid $lightmode-tooltip-border;
    box-shadow: $lightmode-tooltip-shadow 0px 3px 4px;
    color: $black;
    font-weight: 600;
    font-size: 12px;
  }

  .mat-menu-panel {
    background-color: $white !important;
  }
}


.container {
  max-width: 2100px;
}

.btn-primary,
.btn-secondary,
.navbar-toggler {
  color: $black;
  border: 1px solid $black;
  background-color: lightgray;
  box-shadow: gray 2px 2px 2px;
  font-weight: 600;
}

.btn-secondary {
  height: 32px;
}

.btn-primary:hover {
  transition: 0.1s !important;
  background-color: $primary-color;
  color: $black;
}

.btn-primary:focus {
  background-color: $primary-color;
  color: $black;
}

.btn-secondary:hover {
  transition: 0.1s !important;
  background-color: $secondary-color;
  color: $black;
}

.btn-secondary:focus {
  background-color: $secondary-color;
  color: $black;
}

.mat-menu-panel {
  margin-top: 5px;
  box-shadow: 2px 4px 8px rgb(125 125 125);
  border: 1px solid $secondary-color;
  padding: 5px;
}

.mat-menu-content {
  padding: 0 !important;
}

.backend-start {
  margin: 25px 0 10px 0;
  text-decoration: underline;
}

.useful-links-header {
  text-decoration: underline;
}

.useful-links,
.home-title {
  font-weight: 600;
  padding-bottom: 20px;
  border-bottom: 2px solid;
  border-radius: 10px;

  a {
    text-decoration: none;
  }
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-ripple.mat-checkbox-ripple .mat-ripple-element {
  background-color: $primary-color !important;
}

.reactive-forms-container {
  border: 1px solid;
  border-radius: 20px;
  padding: 20px;
}

//scrollbar styling
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: $primary-color;
}
