<h4 class="useful-links-header">Useful links:</h4>
<ul class="useful-links">
  <li><a target="_blank" href="https://www.educative.io/blog/solid-principles-oop-c-sharp">Educative.com</a></li>
  <li><a target="_blank"
      href="https://www.digitalocean.com/community/conceptual-articles/s-o-l-i-d-the-first-five-principles-of-object-oriented-design">DigitalOcean.com</a>
  </li>
</ul>

<h4>The 5 principles of SOLID are:</h4>
<ul>
  <li>Single-responsibility principle</li>
  <li>Open-closed principle</li>
  <li>Liskov substitution principle</li>
  <li>Interface segregation principle</li>
  <li>Dependency inversion principle</li>
</ul>
