@import '../../../../styles/colours.scss';

table {
  margin: auto;

  .title-row td p {
    font-size: 125%;
    font-weight: 700;
    border: 3px solid;
    border-radius: 5px;
  }

  tr td p {
    text-align: center;
    padding: 0 30px 0 30px;
    margin: 0;
  }

  tr td p:hover {
    background-color: var(--secondary-color);
    border-color: var(--primary-color);
    color: $white;
  }
}

.info-row td p {
  border: 1px solid;
  border-radius: 10px;
  cursor: default;
}
