<h1>Class vs Object:</h1>
<h4 class="useful-links-header">Useful links:</h4>
<ul class="useful-links">
  <li><a target="_blank" href="https://unstop.com/blog/difference-between-class-and-object">Unstop.com</a></li>
  <li><a target="_blank" href="https://www.javatpoint.com/difference-between-object-and-class">JavaTpoint.com</a></li>
</ul>

<div class="table-container">
  <table>
    <tr class="title-row">
      <td>
        <p>Class</p>
      </td>
      <td>
        <p>Object</p>
      </td>
    </tr>
    <tr class="info-row">
      <td>
        <p>Class is the blueprint of an object. It is used to declare and create objects.</p>
      </td>
      <td>
        <p>Object is an instance of class.</p>
      </td>
    </tr>
    <tr class="info-row">
      <td>
        <p>No memory is allocated when a class is declared.</p>
      </td>
      <td>
        <p>Memory is allocated as soon as an object is created.</p>
      </td>
    </tr>
    <tr class="info-row">
      <td>
        <p>A class is a group of similar objects.</p>
      </td>
      <td>
        <p>Object is a real-world entity such as book, car, etc.</p>
      </td>
    </tr>
    <tr class="info-row">
      <td>
        <p>Class is a logical entity.</p>
      </td>
      <td>
        <p>Object is a physical entity.</p>
      </td>
    </tr>
    <tr class="info-row">
      <td>
        <p>Class can only be declared once.</p>
      </td>
      <td>
        <p>Object can be created many times as per requirement.</p>
      </td>
    </tr>
    <tr class="info-row">
      <td>
        <p>Example of class can be car.</p>
      </td>
      <td>
        <p>Objects of the class car can be BMW, Mercedes, jaguar, etc.</p>
      </td>
    </tr>
  </table>
</div>
<h4 class="backend-start">Stuff we get from BE: </h4>
<p>{{ classVsObject | json }}</p>
