<h1>Passing Parameters:</h1>
<h4 class="useful-links-header">Useful links:</h4>
<ul class="useful-links">
  <li><a target="_blank"
      href="https://www.c-sharpcorner.com/UploadFile/puranindia/parameter-passing-in-C-Sharp/">C#Corner Passing
      Params</a></li>
  <li><a target="_blank"
      href="https://learn.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/method-parameters">Microsoft
      Passing Params</a></li>
</ul>
<h4 class="backend-start">Stuff we get from BE: </h4>
<p>{{passingParamsItem.outValue}}</p>
<p>{{passingParamsItem.parameters}}</p>
<p>{{passingParamsItem.reference}}</p>
<p>{{passingParamsItem.value}}</p>
